# Dependencies
node_modules/
**/node_modules/

# Python compiled files / cache / environment
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Build outputs
dist/
**/dist/
build/
**/build/
.next/
out/

# Environment variables
.env
.env.local
.env.*.local
*.env

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs & OS generated
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Uploads & Temp Test files
backend/uploads/
ai-service/preprocessed/
ai-service/preprocessed/**
ai-service/processed/
ai-service/processed/**
ai-service/raw_ocr/
ai-service/raw_ocr/**
ai-service/preprocessed_test/
ai-service/processed_test/
ai-service/raw_ocr_test/
ai-service/preprocessed_test/**
ai-service/processed_test/**
ai-service/raw_ocr_test/**
preprocessed/
preprocessed/**
preprocessed_test/
preprocessed_test/**
processed/
processed/**
processed_test/
processed_test/**
raw_ocr/
raw_ocr/**
raw_ocr_test/
raw_ocr_test/**

